.btn-sign-up-by-email {
  position: relative;
}
.angle-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.angle-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.container-sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
